* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  box-sizing: border-box;
 
}

.header {
  display: flex;
  width: 100%;
  min-width: 50%;
  height: 68px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  border-bottom: solid rgba(241, 238, 238, 0.884);
  border-bottom-width: 1px;
  background-color: #ffff;
}

.logo_container {
  display: flex;
  margin-left: 40px;
  width: 11%;
  align-items: center;
}

.image {
  height: 33px;
  width: 56px;
}

.links {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  width: 1115px;
}

.nav_bar {
  margin-top: 1.75%;
  display: flex;
  width: 450px;
  justify-content: space-between;
  font-weight: 650;
  font-size: 80%;
}

.search_box {
  display: flex;
  /* border: solid rgb(221, 221, 221); */
  width: 30%;
  height: 27px;
  margin-left: 132px;
  /* border-radius: 5px 5px 5px 5px; */
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}

input {
  display: flex;
  width: 480px;
  height: 37px;
  margin-top: 0px;
  background-color: rgb(219, 218, 218);
  border: none;
  /* border: solid rgb(221, 221, 221); */
  border-radius: 0px 5px 5px 0px;
}

.image1 {
  object-fit: contain;
  padding-left: 2%;
  width: 50px;
  height: 37px;
  background-color: rgb(219, 218, 218);
  border: solid rgb(221, 221, 221);
  border-radius: 5px 0px 0px 5px;
}

.actionbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 19%;
  font-size: 80%;
  font-weight: 600;
}

.material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
}

.li {
  color:#5b5d5f;
}

.off-banner {
  margin-top: 100px;
}
.off-banner img {
  width: 96%;
  margin-left: 27px;
  margin-right: 27px;
}

.style-parade {
  display: flex;
  justify-content: center;
  align-items: center;
}

.style-parade-image {
  width: 650px;
}
.coupons_corner img{
  width: 100%;
}
.coupons_image{
  display: flex;
}
.coupons_image img{
  width: 50%;
}
.crazy_deals img{
  width: 100%;
}
.deals{
  display: flex;
}
.deals img{
  width: 20%;
}
.footer{
  background-color:rgba(204, 207, 211, 0.185);
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
li{
  list-style: none;
}
 .dnld{
  width: 25%;
 }
.download{
  display: flex;
  height: 30%;
}
.download img{
  margin-top: 20px;
}
.p{
  font-size: 90%;
}
.bag_name{
  margin-left: 2px;
}
.i{
  color:#414141;
}
sup{
  color:#ff3f6c;
}